#ERROR, WARN, INFO, DEBUG (probably use warn or info)
LOG_LEVEL=DEBUG
# DB backend should be pretty flexible, just ensure it's one that handles multi-process concurrency well (not sqlite)
DATABASE_URL=postgresql://user:password@localhost/dbname